#game{
    width: 800px;
    margin: 0 auto;
    padding: 40px;
    font-size: 18px;
    border: 5px solid #9ea5a9;
}
#info{
	margin-bottom: 10px;
}
#answer{
    width: 60px;
    font-size: 24px;
}
#send{
    font-size: 24px;
    color: #fff;
    background: #3C8FB7;
    padding: 4px 8px;
    border: 0;
    cursor: pointer;
}
body{
    background:wheat; 
}